*{
    box-sizing: border-box;
}
body{
    background: #FB6B6B;
    margin: 0px;
}
.tela-inicial{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;

}
.tela-inicial img{
    width: 136px;
    height: 161px;
}
.tela-inicial button{
    width: 246px;
    height: 54px;
    background: #FFFFFF;
    border: 1px solid #D70900;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    font-family: 'Recursive'; 
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #D70900;
}
.tela-inicial button:hover{
    cursor: pointer;
}
h1{
    font-family: 'Righteous';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 45px;
    display: flex;
    align-items: center;text-align: center;
    letter-spacing: -0.012em;
    color: #FFFFFF;
    margin: 20px 0 30px 0;
}
.logo> img{
    width: 52px;
    height: 60px;
    margin-right: 10px;
}
.card{
    background: #FFFFFF;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.30);
    border-radius: 5px;
    width: 300px;
    min-height: 100px;
    margin-bottom: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    position: relative;
    transform-style: preserve-3d;
    transition: 1100ms;
    transform: perspective(1000px) rotateY(var(--rotate-y,0));
}
.card.flip{
    --rotate-y:180deg;
}
p{
    font-family: 'Recursive';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #333333;
}
.flashCards{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 400px;
    overflow-y: scroll;
    padding-top: 430px;
    margin-bottom: 130px;
    width: 100%;
}
.logo{
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100%;
    height: 76px;
}
.card ion-icon{
    font-size: 24px;
}
.card .front,
.card .back{
    position: absolute;
    padding: 1rem;
    backface-visibility: hidden;

}

.card .back{
    transform: rotateY(180deg);
    display: flex;
    align-items: center;

}
.opcao{
    width: 85.17px;
    height: 37.17px;
    border-radius: 5px;
    font-family: 'Recursive';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    margin-left: 4px;
}
.botoes{
    display: flex;
    padding: 2px;
    margin-top: 10px;
}
.opcao{
    display: flex;
    justify-content: center;
    align-items: center;
}
.opcao.vermelho{
    background: #FF3030;
    border: 5px;
}
.opcao.laranja{
    background: #FF922E;
    border: 5px;
}
.opcao.verde{
    background: #2FBE34;
    border: 5px;
}

.vermelho-selecionado{
    color: #FF3030;
    text-decoration: line-through;
}
.laranja-selecionado{
    color: #FF922E;
    text-decoration: line-through;

}
.verde-selecionado{
color: #2FBE34;
text-decoration: line-through;
}
footer{
    background: #FFFFFF;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.12);
    height: 128px;
    justify-content: center;
    align-items: center;
    font-family: 'Recursive';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #333333;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.result{
    justify-content: space-between;
    height: 240px;
}
.display{
    display: none;
}
.referencia{
    border: 
    2px solid green;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pergunta{
    border: 2px solid yellow;
}
.icones{
    display: flex;
    flex-direction: row;
    margin-bottom: 8px;
}
.icones img{
    margin-left: 4px;
}
.resultado{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.resultado > span{
    padding: 6px;
}
.resultado img{
    margin-right: 14px;
}
.status{
    width: 23px;
    height: 23px;
}
.frontface{
    display: flex;
    flex-direction: row;
}
.frontface p{
    margin-right: 120px;
}
.back p{
    margin-right: 120px;
}
.deckPergunta{
    display: flex;
    min-width: 270px;
    justify-content: space-between;
}
.vector{
    width: 30px;
    height: 20px;
    margin-left: 40px;
}